
@{
    ViewBag.Title = "UploadFile";
}
    <html>
       
    <body>
        <h2>UploadFile</h2>


        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="save" />
        }

        <h2>@ViewBag.fileName</h2>

    </body>
    </html>